@import url('https://fonts.googleapis.com/css?family=Armata|Work+Sans');

.navBar {
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Armata';
    display: flex;
    flex-direction: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    align-items: center;

}

.navBar h2 {
    font-size: 14px;
    margin-left: 20px;
    margin-top: 30px;
}

.fa-bars {
    margin-right: 20px;
    color: #1fd5d4;
}
    
.topVideo {
    height: 617px;
    width: 100%;
    background: grey;
}
    
.futureReady {
    width: 100%;
    height: 1458px;
    background: white;
    padding: 50px 0 42px
}

.topBox {
    width: 345px;
    height: 400px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 80px;
}

h5 {
    color: #1fd5d4;
    font-weight: 400;
    letter-spacing: 4px;
    padding-top: 22px;
    font-size: 20px;
    line-height: 22px;
    font-family: 'Armata';
    width: 345px;
    height: 66px;
}

h2 {
    font-family: 'Armata';
    font-size: 37px;
    height: 40px;
    width: 345px;
}

hr {
    border-top: 4px solid #1fd6d5;
    width: 20%;
    margin: 0 auto;
    
}

p {
    font-family: "Work Sans";
    color: #727272;
    letter-spacing: .5px;
    line-height: 28px;
    /*width: 345px;
    height: 196px;*/
    font-size: 16px;
}

.spd {
    height: 275px;
    width: 376px;
    padding: 0 42px 42px;
    text-align: center;

}

.smart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.spd img {
    width: 99px;
    height: 66px;
    align-self: center;
}

.spd h1 {
    font-size: 16px;
    letter-spacing: 1px;
    color: #727272;
    line-height: 18px;
    font-family: 'Armata';
    color: #525252;
    letter-spacing: 1px;
}

.spd hr {
    width: 120px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #eee;
}

.spd p {
    color: #727272;
    letter-spacing: .5px;
    line-height: 28px;
    font-family: "Work Sans";
    margin: 0 0 10px;
    width: 283px;
    height: 112px;
    margin-bottom: 40px;
}

.parallax {
    background: linear-gradient(
        rgba(0,0,0, 0.5),
        rgba(0,0,0, 0.5)),
        url("http://future.moworks.com.au/images/colorbeach-w1400.jpg");
    height: 1537px; 
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*.overlay {
    position: absolute;
    background-color: black;
    opacity: .5;
    z-index: 10;
    width: 100%;
    height: 100%;
  
}*/

.words {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 345px;
    height: 500px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 40px auto;
}

.overlay h2 {
    color: white;
    /*padding-bottom: 40px;*/
}

.overlay p {
    color: white;
    padding-bottom: 40px;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}

.game h2 {
    padding-bottom: 70px;
}

.numbers {
    width: 345px;
    height: 345px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 60px;
}

.numbers h1 {
    font-family: "Armata";
    font-size: 30px;
    color: white;
    line-height: 43px;
    margin-bottom: 10px;
}

.numbers p {
    line-height: 18px;
    font-size: 16px;
    color: #00ffff;
    font-weight: 300;
    margin-bottom: 10px;
}

.middleSection {
    height: 1156px;
    background: white;
}

.explore {
    width: 345px;
    height: 300px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 80px;
}

.lights {
    background:linear-gradient(
    rgba(0,0,0, 0.8),
    rgba(0,0,0, 0.8)),
    url("http://future.moworks.com.au/images/light-w600.jpg");
    width: 345px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lights h2 {
    color: white;
}

.lights h1 {
     font-family: "Armata";
    font-size: 20px;
    color: white;
    line-height: 29px;
    
}

.interested h6 {
        color: #1fd6d5;
        font-size: 18px;
        line-height: 26px;
        font-family: 'Armata';
}